LOCATE COMP "n_reset" SITE "R7" ;
IOBUF PORT "n_reset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "clk"         SITE "P6";
FREQUENCY PORT "clk" 25.000000 MHz ;
LOCATE COMP "user_led" SITE "T6" ;
IOBUF PORT "user_led" IO_TYPE=LVCMOS33 ;
///THIS PINS ARE LOCATED ON CONNECTOR J7
LOCATE COMP "spi_clk" SITE "G16" ;//orange
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_mosi" SITE "H14" ;//blue
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_miso" SITE "G15" ;//green
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_ss" SITE "F15" ;//yellow
IOBUF PORT "spi_ss" IO_TYPE=LVCMOS33 ;

